@page
@model CadastrodeUsuario.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario.Id" class="btn btn-light">Editar</a> |
    <a asp-page="./Index" class="btn btn-outline-dark">Voltar</a>
</div>
